li {
  list-style-type: none;
}

.item {
  border-bottom: 2px solid lightgrey;
  padding-bottom: 20px;
  word-wrap: break-word;
}

.edit-btn {
  padding: 5px 12px;
  margin-right: 5px;
  background-color: #f3f39c;
}

.delete-btn {
  padding: 5px 12px;
  background-color: #f67676;
}

.edit-input {
  margin-top: 5px;
  padding: 8px 0px 8px 10px;
  width: 60%;
  background-color: transparent;
  border-bottom: 2px solid grey;
}

.submit-btn {
  padding: 5px 12px;
  margin-right: 5px;
  background-color: lightgreen;
}